.home {
  background: url('../../assets/message-page-background.png') no-repeat center
    center/cover;
}

.home .blurred {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.home .blurred:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    10deg,
    rgba(0, 0, 0, 0.1),
    rgba(126, 34, 206, 0.8)
  );
}
